
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aplication create by ME...</h2>

<p>
    Thank for watching this project. <br />
    If you want to see more awesome things - check my github! <br />
    <br />
    @Html.ActionLink("More about ASP.NET", "More", "Home")
</p>