@model LooksLikeVidly.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Html.ActionLink("<< BACK", "Index", "Customer")
<br />
<h1>@Model.Name</h1>

